<h1>Posts</h1>

<% @posts.each do |post| %>
  <div>
    <h2><%= link_to post.title, post %></h2>
    <p><%= post.body %></p>
    
    <% if user_signed_in? %>
    <p>Posted by: <%= post.user.name %></p>
    <% end %>
  
  
  </div>
<% end %>

<%= link_to 'New Post', new_post_path %>